{% extends 'base.html' %}

{% block content %}
    <h1>Welcome!</h1>
    <h1>Scheduler helps you arrange meetings.</h1>
    <p1>Select a Room:</p1>


    <table class="table">
    <thead class="thead-inverse">
      <tr>
      </tr>
    </thead>
    <tbody>
      {% if boards.all %}
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{board.name}}</a>
        </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>
          <a>There is no room in the database. Please add some rooms in the Admin Panel.</a>
      </tr>
      {% endif %}
    </tbody>
  </table>

{% endblock %}
